<ion-view view-title="个人中心" hide-nav-bar="true">
	<div class="content"></div>
  <ion-content>
  	<style>
  		a{
  			text-decoration: none;
  			color: black;
  		}
  		.content{
  			width: 100%;
  			height: 330px;
  			background: url(img/login_bg.png) no-repeat;
  			background-size: cover;
  		}
  		.img{
  			width: 110px;
  			height: 110px;
  			margin: 0 auto;
  			background: url(../img/login_logo.png) center no-repeat;
  			background-size: cover;
  		}
  		.list{
  			width: 350px;
  			height: auto;
  			margin: 0 auto;
  		}
  	</style> 			  	
  	<div class="list" style="margin-top: 2rem;">
  		 <div class="img"></div>
  		<label class="item item-input">
  			<input type="text" placeholder="用户名" />
  		</label>
  		<label class="item item-input">
  			<input type="password" placeholder="密码" />
  		</label>  	
  	<button class="button button-block button-positive" ng-click="jump()">登录</button>
  	</div>
  	<div class="row">
  		<div class="col col-50" style="text-align: left;"><a href="#/tab/register">注册</a></div>
  		<div class="col col-50" style="text-align: right;">忘记密码</div>
  	</div>
  
  </ion-content>
</ion-view>
