<ion-view view-title="登录成功" hide-nav-bar="true">	
	<!--<ion-content>-->
		<style>
			.wrrap{
				position: relative;
				top: -10px;
				width: 100%;
				height: 280px;
				background: url(../img/person_01.png) no-repeat;
				background-size: cover;
			}
  		   
  		   .middle{
  		   	width: 128px;
  		   	height: 200px;  		   	
  		   	position: relative;
  		   	left: 115px;
  		   	top: 86px;
  		   }  		   
  		   .image{
  		   	width: 99px;
  		   	height: 99px;
  		   	margin: 0 auto;
  		   background: url(../img/person_touxiang.png) no-repeat;
  		   background-size: cover;
  		   }
  		   
  		   .p1 img{
  		   	width: 15px;
  		   	height: 15px;
  		   	position: relative;
  		   	top: -10px;
  		   	float: left;
  		   }  		   
  		   .p2 img{
  		   	width: 15px;
  		   	height: 15px;
  		   	float: right;
  		   }
  		   .p2{
  		   	color: white;
  		   	text-align: center;
  		   }
		</style>
		<div class="wrrap">			
			<div class="middle">
			<p class="p1"><img src="../img/person_03.png"/></p>
			<div class="image"></div>
			<p class="p2"><span>yyyyyy</span><img src="../img/person_04.png"/></p>
			</div>
		</div>
		<div class="list">
			<a class="item item-icon-left">
				<i class="icon ion-ios-person-outline"></i>
				<span class="item-note">yyyyyyy</span>
			</a>
			<a class="item item-icon-left">
				<i class="icon ion-ios-email-outline"></i>
				<span class="item-note">yyyyyyy@2154</span>
			</a>
			<a class="item item-icon-left">
				<i class="icon ion-ios-telephone-outline"></i>
				<span class="item-note">221578</span>
			</a>			
		</div>
		<div style="width: 100px;height: 20px;margin: 10px auto;">
		<button class="button button-positive" ui-sref="tab.personal">退出登录</button>
		</div>
<!--	</ion-content>-->
</ion-view>